@using Mission5Assignment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Link to the PNG as the favicon -->
	<link rel="icon" href=" ~/images/icons8-earth-globe-16.png" type="image/png" />
    <!-- Other meta tags, styles, etc. -->
</head>