@{
    ViewData["Title"] = "My Hobby";
}
<!DOCTYPE html>
<html>
<head>
    <title>Kate's Hobby: Travel Guide</title>
    <link rel="icon" href="/images/icons8-earth-globe-16.png" type="image/png" />
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <h1>Welcome to Kate's Hobby: Travel Guide</h1>
    <p>Your ultimate guide to traveling the world on a budget. Explore new places, cultures, and adventures—all without breaking the bank!</p>

    <h2>Are you wanting to travel on a budget?</h2>
    <p>Travelling is my favorite hobby! I love experiencing new cultures, locations, and experiences all around the world. But as a college student I have learned the true art of balling on a budget and finding incredible travel deals.</p>
    <p>Do you want to be able to do that? Do you want to become a world traveller on a budget? Then use the calculator to see how much my rate would be! Can't wait to help you travel the world.</p>
    <a href="@Url.Action("Calculator", "Home")">Go to Calculator</a>

    <img src="/images/Caribbean.jpg" alt="Cruise through the Bahamas (budget trip for the whole family)" style="width: 100%; height: auto;">

    <img src="/images/Greece.jpg" alt="Travel the Greek Islands (budget trip with college friends)" style="width: 100%; height: auto;">

    <footer style="text-align: center; padding: 20px; background-color: #f1f1f1; position: fixed; width: 100%; bottom: 0;">
        <p>&copy; 2025 Kate's Hobby. All rights reserved.</p>
        <p>Built with love by Kate. All rights reserved.</p>
    </footer>
</body>

</html>